#mask{
	background: #ccc;
	width: 100%;
	height: 100%
}
.position{
	position:relative;
}

/*.header .container .span6{
	position: relative;
}*/
.movebar{
	display: none;
	position: absolute; 
	width: 30px;
    height: 4px;
    background: #48d2a0;
    border-radius: 2px;
    top: 32px;
    left: 15px;
}
.search-wrapper {
    position: absolute;
    -webkit-transform: translate(-10px, -50%);
    -moz-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%);
    top:50%;
    right:0;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    overflow: hidden;
    height: 30px;
    background: url("../images/search.png") no-repeat 4px center;
    position: relative;
    width:30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:845px;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 2px;
    background: #fff;
    -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width:100%;
    height: 30px;
    margin-top: -14px\0;
    padding: 4px 20px 0 40px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#999;
    -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
    transform: translate(0, 60px);
    -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    transform: translate(0, 0px);
}

.search-wrapper .input-holder .search-icon {
    width:30px;
    height:30px;
    border:none;
    border-radius:6px;
    background: #FFF url("../images/search.png") no-repeat 6px center;
    background-size: 20px 22px;
    padding:0px;
    margin-top:-10px\0;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    transform: translate(-816px,0);
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);

}
/* .search-wrapper.active .input-holder .search-icon span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
} */
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #974BE0;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #974BE0;
}

.search-wrapper .close {
    position: absolute;
    top: 4px;
    right: 0;
    color: #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    /* -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg); */
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
	background: url("../images/close.png") no-repeat center center;
    right: 6px;
    /* -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); */
    -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);/* 
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s; */
}
/* .search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FFF;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
} */

.search-wrapper .result-container {
    width: 100%;
    position: absolute;
    top:40px;
    left:0px;
    text-align: center;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 14px;
    display: none;
    color: #B7B7B7;
    max-height: 416px;
    background: #fff;
    overflow: hidden;    
    border-radius: 0 0 10px 10px;
}

.search-wrapper .result-container h2{
	height: 40px;
    text-align: left;
    margin-left: 26px;
    line-height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.search-wrapper .result-container .searchResult{
	padding-bottom: 16px;
}
.search-wrapper .result-container .searchResult a{
	display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #666;
    padding: 0 50px;
    text-align: left;
}

.search-wrapper .result-container .searchResult a:hover{
	background: #eee;
}

@media screen and (max-width: 560px) {
    .search-wrapper.active .input-holder {width:200px;}
}

.mask{
	background: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}