@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Order
 * Version: 5.0
 */

/* ---------- Checkout ---------- */
.checkout {
	background: white;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-top: 20px;
}

.checkout .span12{
	width: 100%;
}

.checkout .step {
	height: 25px;
	margin-bottom: 10px;
}

.checkout .step ul {
	float: right;
}

.checkout .step li {
	width: 150px;
	height: 25px;
	line-height: 25px;
	float: left;
	margin-left: -15px;
	_position: relative;
	text-align: center;
	background: url(../images/order.gif) 0px 0px no-repeat;
}

.checkout .step .current {
	color: #ffffff;
	background-position: -150px 0px;
}

.checkout .receiver {
	margin-bottom: 10px;
}

.checkout .receiver .title {
	line-height: 36px;
	padding-left: 6px;
	font-size: 20px;
	color: #333;
    margin-bottom: 10px;
}

.checkout .receiver .title a{
	color: #15b4f1;
	font-size: 14px;
	float: right;
}

.checkout .receiver p{
	padding: 10px 0px;
    color: #999999;
    text-align: center;
}

.checkout .receiver ul {
	margin-right: -12px;
	_zoom: 1;
	overflow: hidden;
}

.checkout .receiver li {
	padding: 5px 20px 3px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
	line-height: 26px;
	box-sizing: border-box;
}

.checkout .receiver li:hover {
	border: solid 1px #76d5f8;
	background-color: #ffffff;
	padding: 4px 19px 2px;
}

.checkout .receiver li .span_location{
	color: #f56667;
	opacity: 0;
}

.checkout .receiver li .span_location span{
	margin-left: 5px;
}

.checkout .receiver li.selected .span_location{
	opacity: 1;
}

.checkout .receiver li .span_radio{
    vertical-align: middle;
}

.checkout .receiver li .span_location img{
	vertical-align: top;
}

.checkout .receiver li.selected {
	border: solid 1px #76d5f8;
	padding: 4px 19px 2px;
	background: #daf5ff;
}

.checkout span.phone{
	margin-left: 20px;
	margin-right: 20px;
}

.checkout .receiver li .default_address{
	color: #999;
}

.checkout .receiver li .edit_address{
	float: right;
	color: #15b4f1;
	display: none;
	color: #15b4f1;
}

.checkout .receiver li.selected .edit_address{
	display: inline;
}

.checkout .receiver li .span_radio{
	display: inline-block;
	margin-right: 17px;
	margin-left: 37px;
	width: 22px;
	height: 22px;
	background: url(../images/radio_red_n.png) no-repeat center;
}

.checkout .receiver li.selected .span_radio{
	background: url(../images/radio_red_y.png) no-repeat center;
}

.checkout .receiver li strong {
	color: #333333;
	font-size: 14px;
	font-weight: normal;
}

.checkout .otherReceiverButton{
	margin-left: 175px;
	border: none;
	color: #15b4f1;
}

.checkout .otherReceiverButton:hover{
	color: #15b4f1;
}

.checkout .newReceiver.hidden{
	display: none;
}

.checkout .newReceiver {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
	display: inline-block;
	width: 800px;
	height: 600px;
	background: white;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1111111;
}

.checkout .newReceiver .title{
	position: relative;
	background: #eee;
	height: 70px;
	line-height: 70px;
	padding-left: 60px;
	font-size: 24px;
	margin-bottom: 30px;
	color: #333;
	border-bottom: 1px solid #e6e6e6;
}

.checkout .newReceiver .title .icon-guanbi {
    position: absolute;
    right: 25px;
    cursor: pointer;
}

.checkout .newReceiver select {
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #333;
}

.checkout .newReceiver input.text:hover, .checkout .newReceiver input.text:focus, .checkout .newReceiver select:hover, .checkout .newReceiver select:focus {
    border: 1px solid #48d2a0;
}

.checkout .newReceiver input#isDefault_add {
    opacity: 0;
    width: 20px;
    height: 20px;
    z-index: 111;
    position: relative;
}

.checkout .newReceiver input#isDefault_add:checked + span {
    background: url(/jiuyishop/resources/member/images/checked.png);
}

.checkout .newReceiver input#isDefault_add + span {
    content: "";
    display: inline-block;
    margin-left: -23px;
    position: relative;
    top: 2px;
    width: 14px;
    height: 14px;
    background: url(/jiuyishop/resources/member/images/unchecked.png);
}

.checkout .newReceiver .button {
    width: 120px;
    background: #48d2a0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    position: relative;
    top: 30px;
    margin-right: 40px;
}

.checkout .newReceiver .button:first-child{
	background: #d8d8d8;
	box-shadow: none;
}

.checkout .newReceiver .button:first-child:hover{
	opacity: 0.9;
}

.checkout .newReceiver .button:last-child:hover{
	background: #42c696;
}

.checkout .newReceiver table {
	width: initial;
	margin-left: 150px;
}

.checkout .newReceiver th {
	font-weight: normal;
	background-color: #ffffff;
}

.checkout .newReceiver input.text {
    width: 270px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #333;
}

.checkout table {
	width: 100%;
	margin-bottom: 10px;
}

.checkout .tr_th th:first-child{
	border-radius: 5px 0 0 5px;
	overflow: hidden;
	padding-left: 150px;
} 

.checkout .tr_th th:last-child{
	border-radius: 0 5px 5px 0;
	overflow: hidden;
} 

.checkout tr.store_name{
	background: #eee;
}

.checkout .sku{
	border: 1px solid #15b4f1;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: inherit;
    background: #f7fcfe;
}

.checkout table.sku:hover tr.store_name{
	background: #daf5ff;
}

.checkout th {
    height: 40px;
    line-height: 40px;
	font-weight: normal;
	text-align: left;
	background-color: #eee;
	color: #666;
	font-size: 14px;
	box-sizing: border-box;
}

.checkout td {
	line-height: 30px;
	padding: 10px 0px;
}

.checkout td label.fieldError {
    line-height: 24px;
    margin-left: 4px;
    color: #f56667;
    position: relative;
    top: 27px;
    left: -283px;
}

.checkout .selectMap{
	position: relative;
}

.checkout .selectMap label.fieldError{
	position: absolute;
	top: 37px;
    left: 0px;
}

.checkout .select {
	margin-bottom: 8px;
}

.checkout .select dt {
	line-height: 36px;
	padding-left: 6px;
	font-size: 14px;
	font-weight: bold;
	border-top: solid 1px #e8e8e8;
}

.checkout .select dd {
	padding: 4px;
	margin-bottom: 2px;
	border-top: solid 1px #f2f2f2;
	border-right: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
	border-left: solid 1px #ffffff;
}

.checkout .select dd label {
	height: 30px;
	line-height: 30px;
	display: block;
	padding: 8px;
	cursor: pointer;
	border: solid 3px #ffffff;
}

.checkout .select dd:hover {
	padding: 0px;
	border: solid 5px #f6b8b7;
}

.checkout .select dd:hover label {
	border: solid 3px #ffffff;
}

.checkout .select dd.selected {
	padding: 0px;
	border: solid 5px #f35957;
}

.checkout .select dd.selected label {
	border: solid 3px #ffffff;
}

.checkout .select dd input {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 6px;
	margin-top: 9px;
}

.checkout .select dd span {
	display: block;
	float: left;
	margin-right: 10px;
	color: #888888;
}

.checkout .select dd em {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	border: solid 1px #e5e5e5;
}

.checkout .select dd strong {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	padding: 0px 8px;
	font-weight: normal;
	overflow: hidden;
	border: solid 1px #e5e5e5;
	background-color: #f8f8f8;
}

.checkout .orderForm .span12{
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 20px;
}

.checkout .orderForm div.titel {
    line-height: 36px;
    padding-left: 6px;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.checkout .sku td {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #15b4f1;
	vertical-align: top;
}

.checkout .sku tr:first-child td{
	border-top: none;
}

/*
	border-top: 1px solid #15b4f1;*/

.checkout tbody:first-child .store_name td {
    border-top: none;
}

.checkout .store_name td{
	padding: 0px;
	height:40px;
	line-height: 40px;
	padding-left: 50px;
} 

.checkout .div_img, .checkout .div_info{
	display: inline-block;
	vertical-align: top;
}

 .checkout .div_info a{
 	display: block;
 }

.checkout .div_img{
	margin-left: 73px;
}

.checkout .sku img {
	width: 70px;
	height: 70px;
}

.checkout .sku_title .th_1,.checkout .sku .td_1{
	width: 560px;
}

.checkout .sku_title .th_2,.checkout .sku .td_2{
	width: 240px;
}

.checkout .sku_title .th_3,.checkout .sku .td_3{
	width: 180px;
}

.checkout .sku_title .th_4,.checkout .sku .td_4{
	width: 177px;
}

.checkout .memo {
	height: 24px;
	margin-bottom: 10px;
}

.checkout .memo dt {
	width: 64px;
	line-height: 24px;
	float: left;
	margin-right: 10px;
	color: #999999;
	text-align: right;
}

.checkout .memo dd {
	float: left;
}

.checkout .memo input {
	width: 174px;
	height: 18px;
	line-height: 18px;
	padding: 2px;
	border: 1px solid #dddddd;
}

.checkout .coupon {
	height: 24px;
	margin-bottom: 10px;
}

.checkout .coupon dt {
	width: 64px;
	line-height: 24px;
	float: left;
	margin-right: 10px;
	color: #999999;
	text-align: right;
}

.checkout .coupon dd {
	width: 180px;
	height: 20px;
	line-height: 20px;
	float: left;
	position: relative;
	padding: 2px 0px;
	margin-bottom: 10px;
	background: url(../images/order.gif) 0px -30px no-repeat;
}

.checkout .coupon span {
	width: 122px;
	height: 20px;
	line-height: 20px;
	padding: 0px 4px;
	display: none;
	position: absolute;
	color: #ff6600;
	overflow: hidden;
}

.checkout .coupon input {
	width: 122px;
	height: 20px;
	line-height: 20px;
	padding: 0px 4px;
	margin: 0px;
	position: absolute;
	color: #888888;
	outline: none;
	border: none;
	background: none;
}

.checkout .coupon button {
	width: 50px;
	height: 20px;
	line-height: 20px;
	float: right;
	margin: 0px;
	font-size: 12px;
	position: relative;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: none;
}

.checkout .newReceiverButton{
	color: #15b4f1;
}

.checkout .newReceiverButton:before{
	content: "+";
	color: #15b4f1;
	position: relative;
	left: -5px;
}


.checkout .haveReceiverButton {
    position: relative;
    left: 180px;
}
.checkout .noReceiverButton{
	font-size: 24px;
}
.checkout .noReceiverButton:before{
	font-size: 35px;
}

.checkout .statistic {
	line-height: 30px;
	margin-bottom: 10px;
	text-align: right;
}

.checkout .statistic span {
	margin-left: 10px;
}

.checkout .statistic em {
	color: #ff6600;
	font-style: normal;
	font-weight: normal;
}

.checkout .statistic strong {
	color: #ef0101;
	font-size: 20px;
	vertical-align: bottom;
}

.checkout .statistic p {
	color: #aaaaaa;
}

.checkout .statistic .balance {
	width: 60px;
	height: 18px;
	line-height: 18px;
	padding: 2px;
	border: 1px solid #dddddd;
}

.checkout .invoice{
	font-size: 20px;
	color: #666;
	padding-left: 20px;
}

.checkout .invoice>div{
	margin-top: 10px;
}

.checkout .fs_18{
	font-size: 18px;
}

.checkout .invoice>div>span{
	margin-right: 20px;
}

.checkout .invoice>div:nth-child(1)>span:nth-child(1){
	margin-right: 0px;
}

.checkout .invoice>div:nth-child(1)>span:nth-child(2){
	color: #333;
}

.checkout .invoice>div:nth-child(1)>span:nth-child(3){
	color: #f56667;
	margin-right: 0;
}

.checkout .invoice>div:nth-child(3)>span>span{
	margin-right: 20px;
}

.checkout .invoice>div:nth-child(3)>span>span:last-child{
	color: #15b4f1;
	cursor: pointer;
}

.checkout .remark{
	font-size: 18px;
}

input#isInvoice{
    opacity: 0;
    width: 20px;
    height: 20px;
    z-index: 111;
    position: relative;
}

input#isInvoice:checked+span {
    background: url(/jiuyishop/resources/member/images/checked.png) no-repeat center;
}

input#isInvoice+span {
    content: "";
    display: inline-block;
    margin-left: -23px;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url(/jiuyishop/resources/member/images/unchecked.png) no-repeat center;
}

.checkout .bottom {
	margin-bottom: 10px;
	text-align: right;
	overflow: hidden;
	font-size: 14px;
	margin-top: 10px;
}

.checkout .bottom .span_amount span{
	margin: 0 20px;
	color: #f56667;
	font-size: 24px;
}

.checkout .bottom .back {
	margin-right: 10px;
}

.checkout .bottom .submit {
    color: #ffffff;
    background-color: #f56667;
    width: 120px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
	font-size: 24px;
}

.checkout .bottom .submit:hover {
	background-color: #e61f19;
}

/* ---------- Payment ---------- */

.payment{
	margin: 20px auto;
	box-shadow: 0 0 8px rgba(0,0,0,0.08);
}

.payment .dialog {
	width: 300px;
	height: 200px;
	line-height: 24px;
	padding: 10px 60px;
	margin-left: -216px;
	display: none;
	position: absolute;
	top: 25%;
	left: 50%;
	z-index: 100;
	color: #888888;
	border: solid 6px #ededed;
	background-color: #ffffff;
}

.payment .dialog dt {
	line-height: 60px;
	color: #000000;
	font-size: 16px;
	text-align: center;
}

.payment .dialog div {
	height: 34px;
	padding: 10px 0px;
}

.payment .dialog div a {
	height: 34px;
	line-height: 34px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	float: left;
	padding: 0px 14px;
	margin-right: 26px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	outline: none;
	blr: expression(this.hideFocus = true);
	background: url(../images/order.gif) -10px -60px no-repeat;
}

.payment .dialog div a:hover {
	color: #ffead0;
}

.payment .result {
	padding: 40px;
	border-radius: 5px;
	background-color: white;
}

.payment .result .title {
	height: 50px;
	line-height: 50px;
	color: #48d2a0;
	font-size: 18px;
	text-align: center;
}

.payment .result table {
	width: 100%;
	line-height: 36px;
	margin-bottom: 10px;
}

.payment .result th {
	text-align: left;
}

.payment .result td {
	padding: 0px 8px;
	border: 1px solid #eeeeee;
	background-color: #ffffff;
}

.payment .result strong {
	color: #ff6600;
	font-weight: bold;
}

.payment .result .paymentPlugin td {
	padding: 4px;
	border: none;
	background-color: #fffbea;
}

.payment .result .paymentPlugin input {
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 9px;
	margin-right: 6px;
}

.payment .result .paymentPlugin em {
	width: 100px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
	padding: 2px 8px;
	color: #888888;
	font-style: normal;
	font-weight: normal;
	overflow: hidden;
	cursor: pointer;
	border: solid 1px #dddddd;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
}

.payment .result .paymentPlugin em:hover {
	border: solid 1px #e61f19;
}

.payment .result .paymentButton {
	width: 150px;
	height: 37px;
	line-height: 37px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	overflow: visible;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/order.gif) 0px -60px no-repeat;
}

.payment .result .paymentButton:hover {
	color: #ffead0;
}

.payment .order_info{
	padding-left: 50px;
	color: #48d2a0;
	font-size: 20px;
	margin-bottom: 30px;
}

.payment .hint{
	padding-left: 50px;
	color: #edb45b;
	margin-top: 8px;
}

.payment .order_list{
	height: 60px;
	line-height: 60px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 0 50px;
	font-size: 18px;
	color: #666;
}

.payment .order_list span:nth-child(2){
	font-size: 20px;
	float: right;
}

.payment .order_list span:nth-child(2) #amountPayable{
	color: #f56767;
}

.payment .pay{
	margin-top: 15px;
}

.payment .pay>div{
	border-top: 1px solid #eee;
	padding: 30px 0;
	padding-left: 40px;
}

.payment .pay>div:first-child{
	border-top: none;
}

.payment .pay>div>input[type=radio]{
	opacity: 0;
    width: 30px;
    height: 30px;
    z-index: 111;
    position: relative;
    cursor: pointer;
}

.payment .pay>div>input[type=radio]+span {
    content: "";
    display: inline-block;
    margin-left: -23px;
    position: relative;
    top: 2px;
    width: 18px;
    height: 18px;
    background: url(../images/radio_n.png) no-repeat center;
}

.payment .pay>div>input[type=radio]:checked+span{
    background: url(../images/radio_y.png) no-repeat center;
}

.payment .pay>div>label{
	margin-left: 40px;
	display: inline-block;
	cursor: pointer;
}

.payment .div_sub{
	text-align: center;
}

.payment .result .div_sub input{
	width: 200px;
	height: 50px;
	line-height: 50px;
	color: white;
	background: #48d2a0;
	font-size: 20px;
	border-radius: 25px;
}

.payment .result .div_sub input:hover{
	background: #42c696;
	color: white;
}

.payment .result{
	padding-bottom: 30px;
}

.payment .span_amountPay{
	float: right;
	margin-right: 50px;
	font-size: 24px;
	display: none;
	
}

.payment .span_amountPay strong{
	color: #f56767;
}

.payment .pay>div.active .span_amountPay{
	display: block;
}