@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Password
 * Version: 5.0
 */

/* ---------- Password ---------- */

.password .wrap {
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 200px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

.password .main {
	padding-bottom: 20px;
}

.password .title {
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	color: #333;
	background: #eee;
	font-family: "PingFang SC","Microsoft YaHei";
}

.password .icon-guanbi {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.password .title strong {
	padding-left: 70px;
}

.password .main .warn{
	font-size: 20px;
	color: #edb45b;
	margin-top: 45px;
	margin-left: 62px;
}

.password .main .warn img{
	margin-right: 10px;
}

.password table {
	width: 100%;
	margin-top: 37px;
}

.password th {
	width: 220px;
	height: 42px;
	padding: 12px;
	font-size: 20px;
	font-weight: normal;
	text-align: right;
}

.password input.text{
	font-size: 18px;
	width: 350px;
}

.password .send{
	display: inline-block;
	width: 65px;
    height: 26px;
    line-height: 23px;
	text-align: center;
	color: #48d2a0;
	border: 1px solid #48d2a0;
    position: relative;
    left: -69px;
    box-sizing: border-box;
    border-radius: 13px;
    background: white;
}

.password .send.disabled{
	background: #fcfcfc;
	color: #666;
	border: 1px solid #ccc;
}

.password .send.disabled:hover{
	border: 1px solid #ccc;
}

.password .send:hover{
    cursor: pointer;
    border: 1px solid #25ab7a;
    color: #25ab7a;
}

.password .submit {
	width: 150px;
	height: 40px;
	line-height: 40px;
	position:relative;
	left: 325px;
	top: 47px;
	margin-bottom: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 20px;
	background: #48d2a0;
    border-radius: 20px;
}

.password .submit:hover{
	background: #42C696;
}

.password .submit:disabled {
	cursor: not-allowed;
	background-image: none;
	background-color: #dddddd;
}

.password .td_input{
	position: relative;
}

.password label.fieldError{
	position: absolute;
    top: 50px;
    left: 0;
}

.password .wrap_footer{
	text-align: center;
    position: relative;
    top: 143px;
}